.site-footer {
  text-align: center;
  background-color: #000;
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    color: #FFF;
    margin-left: 1rem;
    margin-right: 1rem;

    @include hover-focus {
      color: #48A8A9;
    }
  }
}
