.recipe-layout {
  background-color: #fff;
  padding: ($spacer * 3) $spacer;

  @include media-breakpoint-up(md) {
    padding: $spacer * 3;
  }

  .recipe-title {
    font-family: font-get(PlayfairDisplay);
    font-size: (26 / 16) * 1rem;
    margin-bottom: $spacer;
  }

  .recipe-tags {
    margin-bottom: $spacer * 1;
    font-family: font-get(PlayfairDisplay);
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .recipe-description {
    margin-bottom: $spacer * 1.5;
  }

  .recipe-content {
    font-family: font-get(PlayfairDisplay);
    margin-bottom: $spacer * 3;
  }

  .recipe-details {
    font-family: font-get(PlayfairDisplay);
    margin-bottom: $spacer * 1.5;

    display: flex;
    flex-wrap: wrap;
 
    .detail {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    &-3 {
      justify-content: space-between;

      @include media-breakpoint-up(xl) {
        justify-content: flex-start;
      }

      .detail {
        @include media-breakpoint-up(lg) {
          flex: 0 0 auto;
          max-width: auto;
        }

        @include media-breakpoint-up(xl) {
          flex: 0 0 auto;
          margin-right: 6rem;
        }
      }
    }

    &-4 {
      justify-content: space-between;
      
      .detail {
        @include media-breakpoint-up(md) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        @include media-breakpoint-up(xl) {
          flex: 0 0 auto;
        }
      }
    }

    .icon,
    .info {
      display: table-cell;
      vertical-align: middle;
    }

    svg {
        display: block;
        margin-right: 1rem;
        width: 2rem;
    }

    .info {
      font-family: font-get(PlayfairDisplay);
    }

    .value {
      font-weight: lighter;
    }

    .label {
      font-weight: bold;
    }
  }

  h3 {
    font-family: font-get(PlayfairDisplay);
    font-size: (18 / 16) * 1rem;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  ol {
    padding-left: $spacer;
  }

  li {
    margin-bottom: $spacer * .5;
  }
}
