html {
  background-color: #000;
}

a,
.btn-link {
  font-family: Playfair Display, serif;
  text-transform: uppercase;
}

a.plus-link::before,
.btn-link.plus-link::before {
  content: '+';
  margin-right: .5em;
}

.btn {
  font-family: Playfair Display, serif;
  text-transform: uppercase;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: #48A8A9;
}

.btn-primary:focus:active,
.btn-primary:hover:active {
  background-color: #3f9394;
}

.card-title {
  font-family: Playfair Display, serif;
}

.site-footer {
  text-align: center;
  background-color: #000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-footer a {
  color: #FFF;
  margin-left: 1rem;
  margin-right: 1rem;
}

.site-footer a:focus,
.site-footer a:hover {
  color: #48A8A9;
}

.site-header {
  background-color: #fff;
  font-size: 1rem;
  padding: 1.25em 0;
}

.site-header div {
  text-align: center;
}

.site-header a {
  display: inline-block;
}

.site-header svg {
  height: 2em;
}

.home h1 {
  font-size: 1.375rem;
  line-height: 1.5;
}

.home .resume {
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .home .resume {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}

.home .btn-link {
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .home .btn-link {
    margin-bottom: 2rem;
  }
}

.home .collapse h1,
.home .collapsing h1 {
  line-height: 1.1;
}

.home .collapse h2,
.home .collapsing h2 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.home .collapse hr,
.home .collapsing hr {
  padding-bottom: .5rem;
}

.home .collapse .col-md-6,
.home .collapsing .col-md-6 {
  margin-bottom: 1rem;
}

.home .collapsing {
  transition: height 600ms ease-in-out;
}

.home .contact-form {
  margin-bottom: 3rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .home .contact-form {
    margin-bottom: 6rem;
    padding-top: 6rem;
  }
}

.home .contact-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home .hero-target {
  width: 100%;
}

.home .hero-outlet {
  width: 100%;
}

.site-sidebar blockquote {
  position: relative;
  padding: 2.5rem 2rem;
  font-size: 1.375rem;
  font-family: Playfair Display, serif;
  margin-bottom: 15px;
}

.site-sidebar blockquote:before,
.site-sidebar blockquote:after {
  content: "";
  position: absolute;
  border: 1px solid black;
}

.site-sidebar blockquote:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-sidebar blockquote:after {
  top: 10px;
  left: 8px;
  right: 8px;
  bottom: 10px;
}

.site-sidebar a {
  display: block;
  padding: 3rem 2rem;
  margin-bottom: 15px;
  color: #fff;
}

.site-sidebar a:focus,
.site-sidebar a:hover {
  color: #d4d4d4;
}

.site-sidebar nav {
  position: relative;
  font-family: Playfair Display, serif;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 8px;
}

.recipe-layout {
  background-color: #fff;
  padding: 3rem;
}

.recipe-layout .recipe-title {
  font-family: Playfair Display, serif;
  font-size: 1.625rem;
  margin-bottom: 1rem;
}

.recipe-layout .recipe-tags {
  margin-bottom: 1rem;
  font-family: Playfair Display, serif;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.recipe-layout .recipe-description {
  margin-bottom: 1.5rem;
}

.recipe-layout .recipe-content {
  font-family: Playfair Display, serif;
  margin-bottom: 3rem;
}

.recipe-layout .recipe-details {
  font-family: Playfair Display, serif;
  margin-bottom: 3rem;
}

.recipe-layout .recipe-details .details {
  display: table;
}

.recipe-layout .recipe-details .icon,
.recipe-layout .recipe-details .info {
  display: table-cell;
  vertical-align: middle;
}

.recipe-layout .recipe-details svg {
  display: block;
  width: 2rem;
}

.recipe-layout .recipe-details .info {
  font-family: Playfair Display, serif;
}

.recipe-layout .recipe-details .value {
  font-weight: lighter;
}

.recipe-layout .recipe-details .label {
  font-weight: bold;
}

.recipe-layout h3 {
  font-family: Playfair Display, serif;
  font-size: 1.125rem;
}

.recipe-layout ul {
  padding-left: 0;
  list-style-type: none;
}

.recipe-layout ol {
  padding-left: 1rem;
}

.recipe-layout li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

.post {
  background-color: #fff;
  padding: 3rem;
}

.post p {
  line-height: 1.688rem;
  letter-spacing: .25px;
}

.post h3 {
  font-family: Playfair Display, serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  padding-top: 0.938rem;
}

.post h5 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}

.post a.inline-link {
  font-family: Lato, sans-serif;
  text-transform: none;
  font-size: 16px;
  color: #48A8A9;
  padding: 0;
  margin: 0;
}

.post img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post ul li {
  padding-bottom: 10px;
}

.post blockquote p {
  font-family: Playfair Display, serif;
  font-size: 1.375rem;
  line-height: 2.125rem;
  border-left: 2px solid #48A8A9;
  padding: 0 25px;
  color: #48A8A9;
  margin-top: 45px;
  margin-bottom: 30px;
}

.post .post-title {
  font-family: Playfair Display, serif;
  font-size: 1.625rem;
  line-height: 2.125rem;
}

.post .post-tagline {
  font-family: Lato, sans-serif;
  font-style: italic;
  font-size: 1.375rem;
}
/*# sourceMappingURL=main.css.map*/