<div class="resume container-fluid w-100">
  <div class="row">
    <div class="container">
      <h1>
        I am an experienced UX Designer turned Product Manager, who specializes in strategizing, conceptualization, and forming thoughtful,
        useful, and beautiful end-to-end experiences.
      </h1>
      <p>
        I have a strong love for strategy and truly understanding the user's needs, wants, and motivations which allow me to create
        seamless enterprise web and mobile and software application designs. I understand web development and user-centric
        design proficiently, I love finding solutions that will both benefit the company and the audience. I believe it's
        a product team's responsibility to find solutions which help the client thrive and grow.
      </p>

      <button class="btn btn-link plus-link" type="button" data-toggle="collapse" data-target="#collapseResume" aria-controls="collapseResume"
        aria-expanded="false">View Resume</button>

      <div class="collapse" id="collapseResume">
        <h1>Experience</h1>
        <hr/>

        <div class="row">

          <div class="col-md-6">
            <h2>Varsity News Network</h2>
            <p>Product Manager</br>
              April 2016—Present</p>
            <p>Responsible for ensuring the VNN professional suite products fulfill the needs and desires of our customers
              and deliver on company initiatives. Perform extensive research and discovery to understand the market and
              create product visions and strategies which can be planned, designed, and executed into intuitive, strong
              experiences for our customers while successfully meeting company goals.</p>
          </div>

          <div class="col-md-6">
            <h2>brightly interactive</h2>
            <p>Lead UX Designer</br>
              February 2013—December 2015</p>
            <p>Oversaw and collaborated with a team of designers, developers, and strategists while enforcing a strong emphasis
              on a research and strategy approach to design for software UX/UI, enterprise web, and mobile interactions.
              </p>
          </div>

          <div class="col-md-6">
            <h2>Keen Collective</h2>
            <p>Owner &amp; Creative Lead</br>
              June 2012—May 2013</p>
            <p>Worked as owner and creative lead of Keen Collective focusing on helping small businesses from ideation through
              launch. Offered digital design and development, e-commerce strategy, brand identity systems, and marketing
              collateral services.
            </p>
          </div>
          
          <div class="col-md-6">
            <h2>Gordon Food Service Canada</h2>
            <p>eBusiness Specialist Intern</br>
              May 2012—February 2013</p>
            <p>Worked within an eBusiness team restructuring, organizing, and designing a community portal for the Gordon
              Food Service Canadian customers. The experience o ers a place for customers to discuss ideas, stay current
              with GFS happenings, and seek online support.
            </p>
          </div>
        </div>

        <h1>Education</h1>
        <hr/>

        <div class="row">
          <div class="col-md-6">
            <h2>Bachelor of Science, Graphic Design</h2>
            <p>Ferris State University, College of Business</br>
              May 2012</p>
          </div>
          <div class="col-md-6">
            <h2>Minor, Marketing Sales</h2>
            <p>Ferris State University, College of Business</br>
              May 2012</p>
          </div>
        </div>

        <h1>Certificates</h1>
        <hr/>

        <div class="row">
          <div class="col-md-6">
            <h2>Nielsen Norman Group</h2>
            <p>UX Certification</p>
          </div>
          <div class="col-md-6">
            <h2>Miller Heiman</h2>
            <p>Marketing Sales Certificate</p>
          </div>
        </div>

        <h1>Skills &amp; Knowledge</h1>
        <hr/>

        <div class="row">
          <div class="col-md-12">
            <p>User Empathy &nbsp; + &nbsp; Market Research &amp; Discovery &nbsp; + &nbsp; Product Inventories &nbsp; + &nbsp;
              Heuristic Evaluations &nbsp; + &nbsp; Competitive Market Analysis &nbsp; + &nbsp; Identifying Market Value
              Opportunities &nbsp; + &nbsp; Product &amp; UX Strategy &nbsp; + &nbsp; Product Vision Creation &nbsp; +
              &nbsp; Product Roadmap Creation &nbsp; + &nbsp; KPI Goal Setting &amp; Tracking &nbsp; + &nbsp; Product Lifecycle
              Management &nbsp; + &nbsp; Stakeholder Collaboration &nbsp; + &nbsp; Usability Testing &amp; Interviews &nbsp;
              + &nbsp; Analyzing Data &amp; Trends &nbsp; + &nbsp; Agile Development &nbsp; + &nbsp; Cross Department Communication
              &nbsp; + &nbsp; User Centric Design &nbsp; + &nbsp; UX &amp; UI Design</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
