<aside class="site-sidebar">
  <blockquote>
    Live life for the in between moments.
  </blockquote>
  <a href="/design-strategize/" style="background: url('/assets/images/sidebar/Design-Strategize.png') 50% 50% / cover no-repeat;">
    <nav>Design &amp; strategize</nav>
  </a>
  <a href="/create-eat/" style="background: url('/assets/images/sidebar/Create-Eat.png') 50% 50% / cover no-repeat;">
    <nav>Create &amp; eat</nav>
  </a>
  <a href="/explore-roam/" style="background: url('/assets/images/sidebar/Explore-Roam.png') 50% 50% / cover no-repeat;">
    <nav>Explore &amp; roam</nav>
  </a>
  <!--
  <a href="/entities/" style="background: url('/assets/images/sidebar/Everything.png') 50% 50% / cover no-repeat;">
    <nav>View everything</nav>
  </a>
-->

</aside>
