@import '~bootstrap/scss/mixins';

html {
  background-color: #000;
}

h1, .h1 {
  font-family: font-get(PlayfairDisplay);
}

h2, .h2 {
  font-weight: 400;
}

a,
.btn-link {
  font-family: font-get(PlayfairDisplay);
  text-transform: uppercase;

  &.plus-link {
    &::before {
      content: '+';
      margin-right: .5em;
    }
  }
}

.btn {
  font-family: font-get(PlayfairDisplay);
  text-transform: uppercase;

  &-primary {
    @include hover-focus {
      background-color: #48A8A9;

      &:active {
        background-color: darken(#48A8A9, 6);
      }
    }
  }
}

.card-title {
  font-family: font-get(PlayfairDisplay);
}
