/*General*/
hr {
  border-top: 1px solid #000;
  padding-bottom: 25px;
}

/*Typography*/

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.375em;
  line-height: 1.65em;
  color: #000;
}

h2 {
  font-family: map-get($font-stack-map, Lato);
  font-weight: 400;
  font-size: 1em;
  color: #000;
  margin-bottom: 5px;
}

p {
  font-weight: 300;
}

// p {
//   font-family: 'Lato Light', sans-serif;
//   font-size: 1em;
//   color: #000;
// }

/*Form*/
label {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  color: #000;
}

input {
  background-color: #FFF;
  border: none;
  font-family: 'Lato Light', sans-serif;
  font-size: 0.875em;
  color: #999;
}

.btn {
  background-color: #000;
  color: #FFF;
  font-family: map-get($font-stack-map, PlayfairDisplay);
  font-weight: 300;
  text-transform: uppercase;
}

.toggle {
  margin-right: .5em;
}

.resume-collapse {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 400ms ease-out 400ms;
}

.toggle:checked ~ .resume-collapse {
  height: auto;
  opacity: 1;
  transition: opacity 400ms ease-in 400ms;
}
