---
layout: base
---

{% assign entities = "" | split: "" %}
  {% for collection in site.collections %}
    {% for entity in site[collection.label] %}
      {% assign entities = entities | push: entity %}
    {% endfor %}
  {% endfor %}
{% assign entities = (entities | sort: "date") | reverse %}

<main class="home w-100 pt-5">
  <div class="container-fluid">
    <div class="card-masonry mb-5">
    {% for entity in entities limit:8 %}
    {% if entity.featured %}
      <div class="card-col mb-4">
        <div class="card">
          {% if entity.image_src %}
          <img class="card-img-top" src="{{ entity.image_src }}" alt="{{ entity.image_src }}">
          {% endif %}
          <div class="card-block">
            <h3 class="card-title h5">{{ entity.title }}</h3>
            <p class="card-text">{{ entity.description }}</p>
            <a href="{{ entity.url }}" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="view-all w-100 text-center pb-4 mb-5">
      <a href="" class="btn btn-primary">View all Posts</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      {% include components/resume.html %}
      {% include components/contact-form.html %}
    </div>
  </div>
</main>
