---
layout: default
---

{% for category in page.categories %}
  {% if category == "design-strategize" %}
    <nav class="pb-2 mb-4"><a href="{{ "/design-strategize/" | relative_url }}">&lsaquo;&emsp;View all Design &amp; Strategize </a></nav>
  {% endif %}
  {% if category == "explore-roam" %}
    <nav class="pb-2 mb-4"><a href="{{ "/explore-roam/" | relative_url }}">&lsaquo;&emsp;View all Explore &amp; Roam</a></nav>
  {% endif %}
{% endfor %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-tagline" itemprop="name headline">{{ page.tagline | escape }}</p>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<div class="container mt-4 mb-5 p-5" style="background-color: white">
  {% if site.disqus.shortname %}
    {% include snippets/disqus-comments.html %}
  {% endif %}
</div>
