---
layout: default
---

{% unless page.total_time %}
  <div class="alert alert-danger" role="alert">
    <code>oven_temperature</code> is not defined
  </div>
{% endunless %}
{% unless page.servings %}
  <div class="alert alert-danger" role="alert">
    <code>oven_temperature</code> is not defined
  </div>
{% endunless %}
{% unless page.skill_level %}
  <div class="alert alert-danger" role="alert">
    <code>skill_level</code> is not defined
  </div>
{% endunless %}

<nav class="pb-2 mb-4"><a href="{{ "/create-eat/" | relative_url }}">&lsaquo;&emsp;View all Create &amp; Eat</a></nav>
<div class="recipe-layout container">
  <h2 class="recipe-title">{{ page.title }}</h2>
  <p class="recipe-description">{{ page.description }}</p>
  <div class="recipe-content">{{ content }}</div>
  
  {% unless page.oven_temperature %}
  <div class="recipe-details recipe-details-3">
  {% endunless %}
  {% if page.oven_temperature %}
  <div class="recipe-details recipe-details-4">
  {% endif %}
    <div class="detail">
      <div class="icon">{% include icons/Icon_Cooking-Time.svg %}</div>
      <div class="info">
        <div class="value">{{ page.total_time }}</div>
        <h3 class="label">Total Time</h3>
      </div>
    </div>

    <div class="detail">
      <div class="icon">{% include icons/Icon_Servings.svg %}</div>
      <div class="info">
        <div class="value">{{ page.servings }}</div>
        <h3 class="label">Servings</h3>
      </div>
    </div>

    <div class="detail">
      <div class="icon">{% include icons/Icon_Skill-Set.svg %}</div>
      <div class="info">
        <div class="value">{{ page.skill_level }}</div>
        <h3 class="label">Skill Level</h3>
      </div>
    </div>

    {% if page.oven_temperature %}
    <div class="detail">
      <div class="icon">{% include icons/Icon_Temperature.svg %}</div>
      <div class="info">
        <div class="value">{{ page.oven_temperature }}</div>
        <h3 class="label">Oven Temperature</h3>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-4 recipe-ingredients">
      <h3>Ingredients</h3>
      <ul>
        {% for ingredient in page.ingredients %}<li>{{ingredient}}</li>{% endfor %}
      </ul>

      {% if page.sauce_ingredients %}
      <h3>Sauce Ingredients</h3>
      <ul>
        {% for ingredient in page.sauce_ingredients %}<li>{{ingredient}}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="col-md-8 recipe-instructions">
      <h3>Instructions</h3>
      <ol>
        {% for instruction in page.instructions %}<li class="pl-2">{{instruction}}</li>{% endfor %}
      </ol>
    </div>
  </div>
</div>

<div class="container mt-3 mb-5 py-4" style="background-color: white">
  {% if site.disqus.shortname %}
    {% include snippets/disqus-comments.html %}
  {% endif %}
</div>
