.home {
  .contact-form {
    background-color: #f8f8f8;

    ul {
      list-style-type: none;

      a {
        &::before {
          content: '+';
          margin-right: .5em;
        }
      }
    }  
  }

  .hero-target {
    background-color: #f8f8f8;
    width: 100%;
  }

  .hero-outlet {
    display: block;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    margin-bottom: 150px;
  }
}
