.home {

  .contact-form {
    background-color: #f8f8f8;

    ul {
      list-style-type: none;

      a {
        &::before {
          content: '+';
          margin-right: .5em;
        }
      }
    }  
  }
}
