---
layout: default
---

<h1 class="h3 mb-4">Design &amp; Strategize</h1>

<div class="card-columns" style="column-gap: 30px">
{% for entity in site.categories.design-strategize %}
  <div class="card" style="margin-bottom: 30px;">
    {% if entity.image_src %}
    <img class="card-img-top" src="{{ entity.image_src }}" alt="{{ entity.image_src }}">
    {% endif %}
    <div class="card-block">
      <h3 class="card-title h5">{{ entity.title }}</h3>
      {% if entity.tagline %}
      <p class="card-text">{{ entity.tagline }}</p>
      {% endif %}
      <a href="{{ entity.url }}" class="btn btn-primary">Read</a>
    </div>
  </div>
{% endfor %}
</div>
